<style>
    img {
        width: 80%;
        margin: 0px auto;
        display:block;
    }
    video {
        width: 80%;
        margin: 0px auto;
        display:block;
    }
    p {
        font-size: 14pt;
    }
</style>